@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fw-bold text-white">Спортна агенция
        <small class="text-body-secondary text-white">ДК</small>
    </h1>
</div>

<div class="content-section">
    <h2 class="text-white border-bottom" >Отбори, които използват нашите услуги</h2>
    <img src="~/images/botevLogo.png" class="image-fluid" alt="Botev" />
    <img src="~/images/ludogoretsLogo.png" class="image-fluid" alt="Ludogorets" />
    <img src="~/images/milanLogo.png" class="image-fluid" alt="Milan" />
</div>

<style>
    .content-section {
       padding-top: 400px; /* Разстояние отгоре */
       padding-left: 600px; /* Разстояние отляво */
        text-align:  center; /* Центриране на съдържанието */
    }

        .content-section img {
            max-width: 150px; /* Максимална ширина */
            height: auto; /* Автоматична височина */
            margin: 20px; /* Разстояние между логата */
        }


</style>
