@model BusinessLayer.Entities.User

@{
    ViewData["Title"] = "Edit";
}

<style>

    .details-container {
        background: rgba(0, 0, 0, 0.6); /* Черен с 60% прозрачност */
        border-radius: 20px; /* Заоблени ъгли */
        padding: 30px; /* Вътрешен отстъп */
        color: white; /* Бял текст за контраст */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Лека сянка */
        backdrop-filter: blur(8px); /* Замъгляване на фона */
    }

    .card-body dt{
        color: white;
    }

    .card-body dd {
        color: white;
    }


</style>

<div class="details-container">
    <div class="card-header bg-primary text-white text-center rounded-3">
        <h2>Редактиране на обява</h2>
    </div>

    <div class="card-body p-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.UserName)</label>
                <div class="col-sm-8">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.PhoneNumber)</label>
                <div class="col-sm-8">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.UserRole)</label>
                <div class="col-sm-8">
                    <select asp-for="UserRole" class="form-control" asp-items="ViewBag.Roles">
                        <option value="">-- Select UserRole --</option>
                    </select>
                    <span asp-validation-for="UserRole" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="text-center" style="padding-top: 40px;">
                    <button type="submit" value="Save" class="btn btn-primary">💾 Запази</button>
                    <a asp-action="Index" class="btn btn-secondary">⬅️ Обратно към списъка с потребитекли</a>
                </div>
            </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}