@model BusinessLayer.Entities.EditAthleteViewModel

@{
    ViewData["Title"] = "Редакция на Атлет";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditAthlete">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" type="number" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Назад</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
