@page
@model CompleteAthleteProfileModel
<form method="post">
    <label>FirstName:</label>
    <input asp-for="Input.FirstName" />

    <label>LastName:</label>
    <input asp-for="Input.LastName" />

    <label>Age:</label>
    <input asp-for="Input.Age" />

    <button type="submit">Save</button>
</form>
