html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white !important;
}

/* Прави body и html да заемат цялата височина */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Избягва хоризонталния скрол */
}

/* Фонът покрива цялата страница */
.background-image {
    position: fixed; /* Фиксира изображението на фона */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Поставя го зад съдържанието */
    background: url('/images/banner.jpg') no-repeat center center/cover;
}
